{% load i18n %}

{% block subject %}
{% blocktrans %}Registration Confirmation{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
Congratulations on registering for {{sitename}}.
{{url}}

{% trans "Thank you for using our website!" %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You received this email because you need to complete the registration process{% endblocktrans %}</p>

<p>Follow this link to complete your registration on {{sitename}}:</p>
<a href="{{url}}">{{url}}</a>

<p>{% trans "Thank you for using our website!" %}</p>

{% endblock html_body %}
